<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Security-Policy" content="Content-Security-Policy: default-src 'none'; img-src 'self';">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"  >
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    {{>navbar}}
    <h1>Hola Mundo</h1>
    <script src="js/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.bundle.js" type="text/javascript"></script>
</body>
</html>