.imglogo{
    max-width: 10%;
}
.navbar-brand{
    max-width: 100%;
}
.border-bottom{
    border-bottom:3px solid #d6d5d5 !important;
}
#menuNavbar{
    width: 50%;
}
@media(min-width:768px){
    .imglogo{
        max-width: 10%;
    }
}